<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='/stylesheets/admin.css'>
        <link rel="icon" type="image/x-icon" href="/Book fav.png">
        <title>Libri: Admin</title>
    </head>

    <body>
        <div id='background_wall' class='hidden'></div>
        <header>
            <div>Pagina di amministrazione</div>
        </header>

        <main>
            <h4 id='admin_logout'>Logout</h4>
            <h2><u>Controls</u></h2>
            <div id='admin_controls'>
                <div class='get_set_container'>
                    <button id='get_book_name'>Ricerca per titolo</button>
                    <button id='get_book_author'>Ricerca per autore</button>
                    <button id='get_book_all'>Ricerca tutti</button>
                </div>
                <div class='get_set_container'>
                    <button id='add_book'>Aggiungi Libro</button>
                    <button id='edit_book'>Modifica Libro</button>
                    <button id='delete_book'>Cancella Libro</button>
                </div>
            </div>
            <h2><u>Risultati</u><span id='reset_results'>Cancella risultati</span></h2>

            <div id='book_results_container'>
    
            </div>

            <!--            Requests Modals                 -->

            <!-- Add Book Request -->
            <div id='add_book_modal' class='hidden'>
                <h2>Aggiungi Libro</h2>
                <form id='add_book_form'>
                    <input type='text' placeholder="Nome">
                    <input type='text' placeholder="Autore">
                    <input type='text' placeholder="Anno">
                    <input type='text' placeholder="Genere">
                    <textarea placeholder="Descrizione"></textarea>
                    <input type='file' id='book_cover'>
                    <button type='submit'>Inserisci</button>
                </form>
                <h2 id='add_book_close'>Chiudi</h2>
            </div>

            <!-- Delete Book Request -->
            <div id='delete_book_modal' class='hidden'>
                <h2>Cancella Libro</h2>
                <form id='delete_book_form'>
                    <input type='text' placeholder="Nome Libro">
                    <button type='submit'>Cancella</button>
                </form>
                <h2 id='delete_book_close'>Chiudi</h2>
            </div>

            <!-- Get Book By Name -->
            <div id='get_book_name_modal' class='hidden'>
                <h2>Cerca libro per Nome</h2>
                <form id='get_book_name_form'>
                    <input type='text' placeholder="Nome Libro">
                    <button type='submit'>Cerca</button>
                </form>
                <h2 id='get_book_name_close'>Chiudi</h2>
            </div>

            <!-- Get Book By Author -->
            <div id='get_book_author_modal' class='hidden'>
                <h2>Cerca libro per Autore</h2>
                <form id='get_book_author_form'>
                    <input type='text' placeholder="Autore">
                    <button type='submit'>Cerca</button>
                </form>
                <h2 id='get_book_author_close'>Chiudi</h2>
            </div>

            <!-- Edit Book Modal -->
            <div id='edit_book_modal' class='hidden'>
                <h2>Modifica Libro</h2>
                <form id='get_book_edit_form'>
                    <input type='text' placeholder='Libro da modificare'>
                    <button type='submit'>Modifica</button>
                </form>                
                <!--
                <form id='get_author_edit_form'>
                    <input type='text' placeholder='Book Name to Edit by Author Name'>
                    <button type='submit'>Edit</button>
                </form>  
                -->
                <p class='hidden'></p>
                <h2>Book</h2>
                <form id='edit_book_form'>
                    <div>
                        <input type='text' placeholder='Nome Libro' disabled>
                        <input type='text' placeholder='Autore' disabled>
                        <input type='text' placeholder='Anno' disabled>
                        <input type='text' placeholder='Genere' disabled>
                    </div>
                    <textarea type='text' placeholder='Descrizione' disabled></textarea>
                    <button type='submit' disabled>Modifica Libro</button>
                </form>             
                <p class='hidden'></p>
                <h2 id='edit_book_modal_close'>Chiudi</h2>
            </div>

        </main>
    </body>
    <script src='/javascript/admin.js'></script>
</html>